
# Java
*.class
*.jar
*.war
*.ear
target/
build/
out/

# Spring Boot
backend/target/
backend/tmp-unpack/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/

# Angular
frontend/dist/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db