<div class="login-container">

    <mat-card class="login-card">

        <h1>Healthcare Connector</h1>

        <p>Please sign in to continue</p>

        <form
            [formGroup]="loginForm"
            (ngSubmit)="login()">

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>Email</mat-label>

                <input
                    matInput
                    type="email"
                    formControlName="email">

                <mat-error
                    *ngIf="loginForm.get('email')?.hasError('required')">

                    Email is required

                </mat-error>

                <mat-error
                    *ngIf="loginForm.get('email')?.hasError('email')">

                    Invalid email

                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>Password</mat-label>

                <input
                    matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    formControlName="password">

                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePassword = !hidePassword">

                    <mat-icon>

                        {{ hidePassword ? 'visibility_off' : 'visibility' }}

                    </mat-icon>

                </button>

                <mat-error
                    *ngIf="loginForm.get('password')?.hasError('required')">

                    Password is required

                </mat-error>

                <mat-error
                    *ngIf="loginForm.get('password')?.hasError('minlength')">

                    Minimum 6 characters

                </mat-error>

            </mat-form-field>

            <button
                mat-raised-button
                color="primary"
                class="full-width">

                Login

            </button>

        </form>

    </mat-card>

</div>