<div class="container mt-4">

    <h2 class="mb-4 text-center text-primary">
        Smart Healthcare Dashboard
    </h2>

    <div class="row">

        <!-- Total Claims -->
        <div class="col-md-3 mb-3">

            <div class="card shadow border-0 bg-primary text-white">

                <div class="card-body text-center">

                    <h1>📄</h1>

                    <h5>Total Claims</h5>

                    <h2>{{totalClaims}}</h2>

                </div>

            </div>

        </div>

        <!-- Approved -->
        <div class="col-md-3 mb-3">

            <div class="card shadow border-0 bg-success text-white">

                <div class="card-body text-center">

                    <h1>✅</h1>

                    <h5>Approved</h5>

                    <h2>{{approvedClaims}}</h2>

                </div>

            </div>

        </div>

        <!-- Rejected -->
        <div class="col-md-3 mb-3">

            <div class="card shadow border-0 bg-danger text-white">

                <div class="card-body text-center">

                    <h1>❌</h1>

                    <h5>Rejected</h5>

                    <h2>{{rejectedClaims}}</h2>

                </div>

            </div>

        </div>

        <!-- Pending -->
        <div class="col-md-3 mb-3">

            <div class="card shadow border-0 bg-warning">

                <div class="card-body text-center">

                    <h1>⏳</h1>

                    <h5>Pending</h5>

                    <h2>{{pendingClaims}}</h2>

                </div>

            </div>

        </div>

    </div>

</div>